<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoBancoDados.Properties.Settings.ConexaoBD" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ProjetoEmCamadasDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="AcessoBancoDados.Properties.Settings.ConnectionString" connectionString="Server=den1.mssql8.gear.host;Database=pdadb;User Id=pdadb; Password=Gw6Q_c?VZ9zF"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
