<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MeuPrimeiroCrud.Data.Properties.Settings.ConnectionString" connectionString="Server=DEV\LOCALHOST;Database=DemoDatabase;Persist Security Info=True;User ID=sa;Password=Vv2k3@dev; MultipleActiveResultSets=true;"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
